head
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
body
  if currentUser
    if currentUser.isMember
      h1 Hello, member
      a(href='/redeem') Redeem a secret code
      a(href='/message') Post a new message
      a(href='/logout') Logout
    else if currentUser.isAdmin
      h1 Hello, admin
      a(href='/redeem') Redeem a secret code
      a(href='/message') Post a new message
      a(href='/logout') Logout
    else
      h1 Hello, #{currentUser.name}
      a(href='/redeem') Redeem a secret code
      a(href='/message') Post a new message
      a(href='/logout') Logout
    if messages
      div.message-container
        for message in messages 
          div.message
            span 
              b #{message.title}
            span #{message.content}
            span
              small #{message.date.toLocaleDateString('en-us', {month:"short", day:"numeric", hour:'numeric', minute: 'numeric', second: 'numeric'})}
            if currentUser.isMember || currentUser.isAdmin
              span
                small Posted by #{message.author.name}
            if currentUser.isAdmin
              form(action='' method='post')
                input(type='hidden' name='id' value=message._id)
                button Delete
  else
    h1 Welcome!
    a(href='/signup') Sign up
    a(href='/login') Login
